absl-py==0.9.0
alabaster==0.7.12
alembic==1.4.2
anaconda-client==1.7.2
anaconda-navigator==1.9.6
anaconda-project==0.8.2
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
asn1crypto==0.24.0
astor==0.8.1
astroid==2.1.0
astropy==3.1
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.3
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==3.0.2
blis==0.2.4
bokeh==1.0.2
boto==2.49.0
boto3==1.9.45
botocore==1.12.45
Bottleneck==1.2.1
bz2file==0.98
cache==1.0.3
cachetools==4.0.0
cchardet==2.1.7
certifi==2018.11.29
certipy==0.1.3
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
clyent==1.2.2
colorama==0.4.1
conda==4.7.12
conda-build==3.17.6
conda-package-handling==1.6.0
conda-verify==3.1.1
contextlib2==0.5.5
cryptography==2.4.2
cycler==0.10.0
cymem==2.0.2
Cython==0.29.2
cytoolz==0.9.0.1
dask==1.0.0
datasets==1.1.3
datashape==0.5.4
de-core-news-sm==2.1.0
decorator==4.3.0
defusedxml==0.5.0
dill==0.3.3
distributed==1.25.1
Django==2.2.13
django-extensions==2.1.3
docopt==0.6.2
docutils==0.14
eflomal==0.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz
en-core-web-sm==2.1.0
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
fastprogress==1.0.0
fasttext==0.9.2
filelock==3.0.10
fire==0.2.1
Flask==1.0.2
Flask-Cors==3.0.7
fsspec==0.8.5
ftfy==4.4.3
funcy==1.15
future==0.17.1
gast==0.3.3
gensim==3.6.0
gevent==1.3.7
glob2==0.6
gmpy2==2.0.8
google-auth==1.12.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.27.2
gym==0.17.1
h5py==2.10.0
heapdict==1.0.0
html5lib==1.0.1
idna==2.8
ijson==2.3
imageio==2.4.1
imagesize==1.1.0
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==0.6
imutils==0.5.3
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.2
jieba==0.42.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.17.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-telemetry==0.1.0
jupyterhub==1.1.0
jupyterlab==0.35.3
jupyterlab-server==0.2.0
Keras==2.4.3
Keras-Applications==1.0.8
keras-bert==0.86.0
keras-embed-sim==0.8.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.46.0
keras-transformer==0.38.0
keyring==17.0.0
kiwisolver==1.0.1
ktrain==0.25.0
langdetect==1.0.7
lazy-object-proxy==1.3.1
lda==2.0.0
libarchive-c==2.8
lief==0.9.0
llvmlite==0.26.0
lmdb==0.98
locket==0.2.0
lxml==4.2.5
Mako==1.1.2
Markdown==3.2.1
MarkupSafe==1.1.0
mat4py==0.4.2
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.2
mock==2.0.0
more-itertools==4.3.0
mpmath==1.1.0
msgpack==0.5.6
mspider==0.2.5
multipledispatch==0.6.0
multiprocess==0.70.11.1
murmurhash==1.0.2
mwparserfromhell==0.5.2
navigator-updater==0.2.1
nbconvert==5.4.0
nbformat==4.4.0
ndjson==0.2.0
networkx==2.5
nlp==0.4.0
nltk==3.4
nose==1.3.7
notebook==5.7.4
numba==0.41.0
numexpr==2.6.8
numpy==1.17.3
numpydoc==0.8.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.46
opencv-python==4.1.0.25
openpyxl==2.5.12
opt-einsum==3.2.0
packaging==16.8
pamela==1.0.0
pandas==1.1.4
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pbr==3.1.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.0.1
pkginfo==1.4.2
plac==0.9.6
pluggy==0.8.0
ply==3.11
preshed==2.0.1
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.11.3
psutil==5.4.8
psycopg2==2.7.6.1
ptyprocess==0.6.0
py==1.7.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pycocoevalcap @ git+https://github.com/salaniz/pycocoevalcap@38c2534418237ba83809b925be2a8abbecdf2fa1
pycocotools==2.0.1
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pydot==1.4.1
pydotplus==2.0.2
pyemd==0.5.1
pyflakes==2.0.0
pyglet==1.5.0
Pygments==2.3.1
pyLDAvis==2.1.1
pylint==2.2.2
pyodbc==4.0.25
pyOpenSSL==18.0.0
pyparsing==2.3.0
Pyphen==0.9.5
PySocks==1.6.8
pytesseract==0.3.7
pytest==4.0.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.2.0
pytest-openfiles==0.3.1
pytest-remotedata==0.3.1
python-dateutil==2.7.5
python-editor==1.0.4
python-json-logger==0.1.11
python-Levenshtein==0.12.0
pytorch-lightning==1.1.1
pytz==2018.7
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==17.1.2
QtAwesome==0.5.3
qtconsole==4.4.3
QtPy==1.5.2
regex==2017.4.5
repoze.lru==0.7
requests==2.21.0
requests-oauthlib==1.3.0
rope==0.11.0
rsa==4.0
ruamel-yaml==0.15.46
ruamel.yaml.clib==0.2.0
s3transfer==0.1.13
sacremoses==0.0.43
scidownl==0.2.7
scikit-image==0.15.0
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.8.1
Send2Trash==1.5.0
sentence-transformers==0.3.9
sentencepiece==0.1.91
seqeval==0.0.19
simpleai==0.8.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.7.1
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.1.0
soupsieve==2.0.1
spacy==2.1.3
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
spyder==3.3.2
spyder-kernels==0.3.0
SQLAlchemy==1.2.15
sqlparse==0.3.0
srsly==0.0.5
statsmodels==0.9.0
stop-words==2015.2.23.1
sympy==1.3
syntok==1.3.1
tables==3.4.4
tblib==1.3.2
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.5.0
termcolor==1.1.0
terminado==0.8.1
tesseract==0.1.3
tesserocr==2.5.1
testpath==0.4.2
textblob==0.15.3
thinc==7.0.4
threadpoolctl==2.1.0
tifffile==2020.7.4
tokenizers==0.9.3
toolz==0.9.0
torch==1.6.0
torchtext==0.5.0
torchvision==0.7.0
tornado==5.1.1
tqdm==4.49.0
traitlets==4.3.2
transformers==3.5.1
tweepy==3.9.0
unicodecsv==0.14.1
urllib3==1.24.2
virtualenv==16.4.3
wasabi==0.2.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.0
wget==3.2
Whoosh==2.7.4
widgetsnbextension==3.4.2
wikipedia==1.4.0
wrapt==1.12.1
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.2
xlwings==0.15.1
xlwt==1.3.0
xxhash==2.0.0
yalign==0.1.1
YASA==0.1.9
zict==0.1.3
